
.animalsList {
    width: 300px;
    height: 500px;
    overflow: scroll;
    position: fixed;
    top: 50px;
    left: 50px;
    border-color: black;
    border: ridge;
    padding: 20px;
  }
  .btn_container{
      margin-left: 50px;
   }

  .animalsList.filterPinguin > :not(.itemList_penguin){
    display: none;  
  }
  div[class*="do_not_show"]{
      display:none
  }

  div[class*="itemList"] > img, div[class*="itemList"] > p {
    pointer-events: none
 }
